### Import Libraries and Dependencies

In [4]:
import pandas as pd
from pathlib import Path

### Read in CSV as Pandas DataFrame and Set the Index

In [5]:
# Read in data
csv_path = Path("../Resources/twtr_google_finance.csv")
ticker_data = pd.read_csv(csv_path, parse_dates=True, index_col='Date', infer_datetime_format=True)
ticker_data.head()

                Close
Date
2019-04-09  35.139999
2019-04-10  34.750000
2019-04-11  34.580002
2019-04-12  34.369999
2019-04-15  34.709999

### Display DataFrame Index

In [6]:
ticker_data.index

DatetimeIndex(['2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-15', '2019-04-16', '2019-04-17', '2019-04-18',
               '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25',
               '2019-04-26', '2019-04-29', '2019-04-30', '2019-05-01',
               '2019-05-02', '2019-05-03', '2019-05-06', '2019-05-07',
               '2019-05-08', '2019-05-09'],
              dtype='datetime64[ns]', name='Date', freq=None)

### Create Multiple Indices by Grouping By DatetimeIndex `year`, `month`, and `day` with `first` Function

In [15]:
# Group by year, month, and day and grab first of each group
ticker_data_grp_all= ticker_data.groupby([ticker_data.index.year, ticker_data.index.month, ticker_data.index.day]).first()
ticker_data_grp

               Close
Date Date
2019 4     36.478666
     5     39.465715

### Create Multiple Indices by Grouping By DatetimeIndex `year` and `month` with `first` Function

In [14]:
# Group by year and month and take the first value of each group
ticker_data_grp_all= ticker_data.groupby([ticker_data.index.year, ticker_data.index.month]).first()
ticker_data_grp

               Close
Date Date
2019 4     36.478666
     5     39.465715

### Create Multiple Indices by Grouping By DatetimeIndex `year` and `month` with `last` Function

In [17]:
# Group by year and month and take the last value of each group
ticker_data_grp_two= ticker_data.groupby([ticker_data.index.year, ticker_data.index.month]).last()
ticker_data_grp_two

               Close
Date Date
2019 4     39.910000
     5     38.790001

### Create Multiple Indices by Grouping By DatetimeIndex `year` and `month` with `mean` Function

In [11]:
# Group by year and month and calculate the average of each group
ticker_data_grp= ticker_data.groupby([ticker_data.index.year, ticker_data.index.month]).mean()
ticker_data_grp

               Close
Date Date
2019 4     36.478666
     5     39.465715

### Slice Data for 4/12/2019

In [16]:
# Slice data for 4/12/2019 from first group
ticker_data_slice = ticker_data_grp_all.loc[2019,4,12]
ticker_data_slice

Close    34.369999
Name: (2019, 4, 12), dtype: float64

### Slice Data For All Days in April 2019

In [18]:
# Slice data for April 2019 from first group
ticker_slice_april = ticker_data_grp_two.loc[2019,4]
ticker_slice_april

Close    39.91
Name: (2019, 4), dtype: float64